@font-face {
  font-family: "TT Fors Trial";
  src: url("../fonts/TT Fors Trial Medium");
  src: local("TT Fors Trial Medium"),
		local("TT Fors Trial Medium"),
		url("../fonts/TT Fors Trial Medium.ttf") format("ttf"),
  font-style: normal;
  font-weight: 400;
}
