@font-face {
  font-family: "TT Fors Trial";
  src: url("../fonts/TT Fors Trial Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("../fonts/Aeonik Pro Medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
