@font-face {
  font-family: "TT Fors Trial";
  src: url("../fonts/TT Fors Trial Medium");
  src: local("TT Fors Trial Medium"),
		local("TT Fors Trial Medium"),
		url("../fonts/TT Fors Trial Medium.ttf") format("ttf"),
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("../fonts/Aeonik Pro Medium");
  src: local("Aeonik Pro Medium"),
		local("Aeonik Pro Medium"),
		url("../fonts/Aeonik Pro Medium.ttf") format("ttf"),
  font-style: normal;
  font-weight: 500;
}
